@media screen and (min-width: 1314px) and (max-width: 1408px) {
  .achievement2 {
    width: 15vw;
  }
}
@media screen and (max-width: 1378px) {
  .achievement4 {
    width: 15vw;
  }
}
@media screen and (max-width: 1313px) {
  .achievement2 {
    width: 16vw;
  }
}
