$primaryFooterColor: #975e5e;
footer {
  height: 18vh;
  background-color: #f2f0e4;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: $primaryFooterColor;
}
.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-links > a {
  img {
    width: 30px;
    margin: 0 16px;
    border-radius: 23px;
  }
}
.back-to-top {
  position: absolute;
  left: -2px;
  cursor: pointer;
}
.back-to-top > img {
  width: 30px;
  margin: 0 16px;
  border-radius: 23px;
}
.other-contact-details {
  a {
    text-decoration: none;
    color: $primaryFooterColor;
  }
  a:hover{
      color: blue;
  }
}
@media screen and (max-width:906px) {
  footer{
    height: 18vh;
    background-color: #f2f0e4;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: $primaryFooterColor;
  }
}
